* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/fundo-teste.png");
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgb(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --image-avatar: url("./assets/avatar-black.png");
}

.light {
  --text-color: black;
  --bg-url: url("./assets/fundo-claro.jpg");
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgba(139, 94, 60, 0.25);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.15);
  --image-avatar: url("./assets/avatar-light.png");
}

html,
body {
  height: 100%;
}

body {
  /*
    background-image:url("./assets/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    */
  /*Agrupando o background*/
  min-height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*Box central da página*/
#container {
  max-width: 360px;
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center; /*Centralizar a imagem porque o profile é block-level e o conteúdo é inline*/
  padding: 24px;
}

#avatar {
  width: 112px;
  height: 112px;
  margin: 0 auto; /*Centraliza o avatar dentro do profile*/
  background-image: var(--image-avatar);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

/*links*/

ul {
  list-style: none;

  display: flex; /*Primeiro transformei em flex para que os filhos aceitassem também as propriedades do Flex */
  flex-direction: column; /*cada elemento da UL (lista (LI)) fica um abaixo do outro*/
  gap: 16px; /*Dá espaços entre os elementos, no caso, entre os itens (li) da lista*/
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center; /*Joga para ao meio alinhando a esquerda*/
  align-items: center; /*Centraliza no container*/

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s; /*Transição suave para as mudanças de background e border nos botões*/
}

ul li a:hover {
  background: rgb(255, 255, 255, 0.2);
  border: #ffffff 1.5px solid;
}

/*Parte das social links*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  padding: 16px;
  align-items: center;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px;
  font-size: 14px;
}
