* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url("./assets/fundo-teste.png");
  --stroke-color: rgb(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgb(255, 255, 255, 0.2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --image-avatar: url("./assets/avatar-black.png");
  --switch-bg-url: url("./assets/MoonStars.svg");
}

.light {
  --text-color: black;
  --bg-url: url("./assets/fundo-claro.jpg");
  --stroke-color: rgb(0, 0, 0, 0.5);
  --surface-color: rgba(139, 94, 60, 0.25);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.15);
  --image-avatar: url("./assets/avatar-light.png");
  --switch-bg-url: url("./assets/Sun.svg");
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  /*
    background-image:url("./assets/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-position:top center;
    background-size: cover;
    */
  /*Agrupando o background*/
  min-height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

/*Box central da página*/
#container {
  max-width: 360px;
  width: 100%;
  margin: 56px auto 0px;
  padding: 0 24px;
}

#profile {
  text-align: center; /*Centralizar a imagem porque o profile é block-level e o conteúdo é inline*/
  padding: 24px;
}

#avatar {
  width: 112px;
  height: 112px;
  margin: 0 auto; /*Centraliza o avatar dentro do profile*/
  background-image: var(--image-avatar);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}

#switch {
  position: relative;
  width: 64px;

  margin: 4px auto;
}

/*Switch de tema claro e escuro*/
#switch button {
  width: 32px;
  height: 32px;
  border: 0;
  border-radius: 50%;

  background-color: white;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;

  /*Posicionamento do botão dentro do switch*/
  /*O switch é o container do botão, então o posicionamento é relativo ao switch*/
  /*O botão é posicionado no meio do switch, alinhado à direita*/
  /*O z-index é para garantir que o botão fique acima do span, que é a parte de fundo do switch*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.2s;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);

  border: 1px solid var(--stroke-color);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/*links*/

ul {
  list-style: none;

  display: flex; /*Primeiro transformei em flex para que os filhos aceitassem também as propriedades do Flex */
  flex-direction: column; /*cada elemento da UL (lista (LI)) fica um abaixo do outro*/
  gap: 16px; /*Dá espaços entre os elementos, no caso, entre os itens (li) da lista*/
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center; /*Joga para ao meio alinhando a esquerda*/
  align-items: center; /*Centraliza no container*/

  padding: 16px 24px;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
  transition: background 0.2s; /*Transição suave para as mudanças de background e border nos botões*/
}

ul li a:hover {
  background: rgb(255, 255, 255, 0.2);
  border: #ffffff 1.5px solid;
}

/*Parte das social links*/
#social-links {
  display: flex;
  justify-content: center;

  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  justify-content: center;
  padding: 16px;
  align-items: center;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 24px;
  font-size: 14px;
}

/*Animações*/
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
